*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(56, 210, 194, 0.5), rgba(25, 74, 138, 0.5)), url(../img/bg.webp);
  background-size: cover;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 62px;
}

.header__logo {
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  color: #fff;
}

.header__text {
  margin-left: 16px;
  font-size: 31px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1;
}

.menu {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 29px;
}

.menu a {
  text-decoration: none;
}

.menu li {
  position: relative;
  list-style: none;
  color: #fff;
}

.menu__list {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px 90px;
  border-radius: 50px;
}

.menu__list li:hover .sub-menu__list {
  display: block;
}

.menu__link {
  color: #fff;
  margin: 0 40px;
}

.menu__link--last {
  margin: 0 0 0 40px;
}

.sub-menu__list {
  display: none;
  position: absolute;
  left: 0;
  top: 30px;
  padding-top: 30px;
}

.sub-menu__link {
  color: #fff;
  display: inline-block;
  padding: 10px 10px;
  margin: 0 40px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.sub-menu__link:hover {
  background: rgba(255, 255, 255, 0.1);
}

.burger {
  display: block;
  position: relative;
  cursor: pointer;
}

.burger__item {
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  color: #fff;
  font-size: 0;
}

.burger__item:before, .burger__item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  z-index: 10;
  background: #fff;
}

.burger__item:before {
  width: 100%;
  top: -8px;
}

.burger__item:after {
  width: 100%;
  top: 8px;
}

.burger {
  display: none;
}

.search-container {
  position: relative;
  max-width: 478px;
  margin: 100px 0 0 150px;
  border: 1px solid #fff;
  border-radius: 50px;
  min-height: 68px;
}

.search__img {
  position: absolute;
  left: 22px;
  top: 50%;
  transform: translateY(-50%);
}

.search__input {
  min-width: 410px;
  min-height: 66px;
  margin: 0 0 0 70px;
  background: transparent;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 30px;
  line-height: 30px;
  color: #fff;
}

.search__input:hover {
  border-radius: 50px;
}

.fa-search {
  color: #fff;
}

.main__title {
  font-size: 139px;
  color: #fff;
  font-weight: 300;
  font-family: "Yanone Kaffeesatz", sans-serif;
  margin-top: 50px;
}

.main__subtitle {
  font-size: 71px;
  color: #fff;
  font-weight: 300;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.main__btn {
  background: transparent;
  border: 1px solid #fff;
  padding: 16px 62px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 300;
  min-width: 478px;
  border-radius: 50px;
  margin-top: 18px;
  color: #fff;
}

.main__btn:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.main__btn:active, .main__btn:focus {
  outline: none;
}

.main__about h4 {
  color: #fff;
  margin: 33px 0;
  font-size: 38px;
  font-family: "Roboto", sans-serif;
}

.main__about p {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.wrapper {
  margin: 20px 0 0 150px;
  overflow-y: scroll;
  width: 100%;
  max-width: 1200px;
  max-height: 400px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.4);
}

.social {
  position: fixed;
  top: 400px;
  left: 125px;
}

.social a {
  display: block;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  margin: 0 0 16px 0;
  transition: .4s linear;
  position: relative;
}

.social a::before, .social a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: .4s linear;
}

.social a:hover {
  transform: scale(0.8);
}

.social a:hover::before {
  border-left: 4px solid;
  border-right: 4px solid;
  transform: skewX(20deg);
}

.social a:hover::after {
  border-top: 4px solid;
  border-bottom: 4px solid;
  transform: skewY(-20deg);
}

@media (max-width: 1130px) {
  .menu__list li {
    display: none;
  }
  .menu__list {
    position: relative;
    max-width: 90%;
    min-height: 67.2px;
    padding: 0;
    margin: 0 50px 0 100px;
  }
  .menu {
    flex-grow: 1;
  }
  .burger {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 40px;
  }
}
/*# sourceMappingURL=style.css.map */